/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--body-color);
    z-index: 100;
    border-bottom: 1px solid rgb(153, 153, 153);
    
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.navigation a {
    text-decoration: none;
    color: var(--black);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
   
}

.navigation a:hover, .navigation a.active {
    background: var(--first-color);
}

/* intro */
.intro.main {
    margin-top: 50px;
    background-image: url('img/main.png'); 
    width: 100%;
    height: calc(100vh - 50px);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    overflow: hidden; 
    z-index: 10;
}

.intro_txts {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px; 
    margin: 0 auto; 
    text-align: center;
    z-index: 11;
}

.intro.main a {
    position: fixed; 
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro.main a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  
  .intro.main .intro.main a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .intro.main a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  .intro.main a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


/* About_me */
.About_me, .favorite {
    z-index: 13; 
    width: 100%;
    height: calc(100vh - 50px);
    background-color: var(--second-color); 
    position: relative;
}

.about_me__inner {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.aboutTitle {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutTitle  > h1 {
    width: 444px;
    text-align: center;
    padding-bottom: 60px;
} 

.myImg {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 444px;
    height: 444px;
    background-color: #F5F5F5;
    border-radius: 50%;
    border: 52px solid #FFA500;
}

.myImg > img {
    width: 224px;
    height: 285px;
}

.aboutTxts {
    display: flex;
    width: 50%;
}

.aboutTxts > ul {
    width: 50%;
    height: 598px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutTxts ul li {
  margin: 20px 0;
}

.aboutTxts ul li:nth-child(2n) {
    margin-top: 0;
}


/* myFavorite */

.favoriteTitle {
    margin: 0 auto;
    width: 1200px;
}

.favoriteImg1 {
    position: relative; 
}

.favoriteImg1 img {
    position: absolute; 
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 400px;
    width: 3413px; 
    height: 526px; 
}

/* ending */
.ending {
    position: relative;
    z-index: 20; 
    width: 100%;
    height: 350vh;
    background-color: var(--black);
}

.ending_grad {
    z-index: 13; 
    width: 100%;
    height: 50vh; 
    background: linear-gradient(var(--second-color), var(--black));
    position: relative;
}

.ending__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.ending__inner ul li {
    font-size: 24px;
    margin: 70px 0 ;
 
}

